.faqs {
    /* height: 700px; */
    width: 100%;
    background-color: rgb(201, 179, 218);

    margin: auto;
    padding-bottom: 60px;
  }
  
  .headings > h1 {
    text-align: center;
    width: 75%;
    margin: auto;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .faqs > .faq {
    width: 75%;
    margin: auto;
  }
  
  .faq > .accordion {
    background-color: rgb(201, 179, 218);

    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 1.5rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.5rem;
  }
  
  .active,
  .accordion:hover {
    background-color: rgb(171, 143, 192);

  }
  
  .panel {
    padding: 0 2rem 1.5rem 2rem;
    overflow: hidden;
    background-color:rgb(218, 174, 240);

    display: none;
  }
  
  .panel.active {
    display: block;
  }
  
  .panel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  
  .faq.active {
    border: none;
  }
  