.page1{
    width:100%;
    height:430px;
    background-color: blue;
    }
 .part1{
    width:100%;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 33px;
 }
 .page2{
    width:100%;
    height:100px;
    font-weight: 500;
    background-color: brown;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
 }