.page1{
    width:1100px;
    height:430px;
    background-color: blue;
    }
 .part1{
    width:100%;
    height:40%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 33px;
 }
 .page2{
    width:100%;
    height:20%;
    background-color: brown;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
 }