.page1{
  margin-top: 70px;
    width:100%;
    height:450px;
    /* background-color: blue; */
    color:aliceblue;
    }
 .part1{
    width:100%;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    font-size: 33px;
 }
 .part1>h1{
  color: aliceblue;
 }
 .page2{
    width:100%;
    height:100px;
    font-weight: 500;
    /* background-color: brown; */
    font-size: 18px;
     display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
 }

 .createquiz{
height: 150px;
padding:30px;
overflow: hidden;
display: flex;
margin-left: 220px;
margin-right: 220px;
}
.createquiz>button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.6em 1em;
    padding-left: 0.9em;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 20px #eee;
    transition: all 0.2s;
    cursor: pointer;
    margin: auto;
  }
  
  .createquiz>button>span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .createquiz>button>svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
   
  
  .createquiz>button:hover>svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .createquiz>button:hover>span {
    transform: translateX(5em);
  }
  
  .createquiz>button:active {
    transform: scale(0.95);
  }
  .para>p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }

  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  