.inst{
    color: rgb(0, 0, 0);
    background-color: rgb(203, 190, 213);
    font-size: 20px;
}
.instHeading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.instPara{
    max-width: 900px;
    margin: auto;
    margin-bottom: 25px;
}
.instLines{
    display: flex;
    align-items: flex-start;
}
.instLogo{
    color: rgb(231, 186, 255);
    width: 30px;
    margin-right: 1px;
}
.instLogo>i{
    background-color: #604586;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 90px;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineSubHeading{
    color: #001145;
    font-weight: 600;
}
.instLine {
    margin-bottom: 10px;
    flex: 1; /* Allow line to expand to fill available space */
}