.desc{
    color: rgb(0, 0, 0);
    background-color: rgb(203, 190, 213);
    font-size: 20px;
}
.headline>h1{
    text-align: center;
    margin-bottom: 25px;
    /* font-size: 30px; */
    margin-top: 15px;
}
.descPara1{
    text-align: center;
    max-width: 900px;
    line-height: 30px;
    margin: auto;
}
.descPara2{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
    line-height: 30px;
    margin: auto;
}
.about1>h3{
    margin-bottom: 10px;
}
.descPara3{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
    line-height: 30px;
    margin: auto;
}
.about1{
    width: 50%;
}
.about1>p{
    text-align: justify;
}
.aboutImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.aboutImage>img{
    width: 300px;
}
.descPara4{
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
}
