* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    height: 60px;
    width: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon > .first {
    height: 80%;
    width: 30%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon > .last {
    height: 80%;
    width: 40%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first > .heading {
    font-size: 20px;
}

.btnswitch > button {
    padding: 10px;
    font-size: 17px;
    background-color: midnightblue;
    color: aliceblue;
    border: none;
    border-radius: 20%;
}

 .box1 {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.box1 > .iner {
    font-size: 10px;
}


.box1 > .in > input {
    width: 900px;
}

.iner > input {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border: none;
}
.in>input{
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border: none;
}

.iner,.in {
    position: relative;
}

.toolbar {
    display: flex;
    margin-top: 10px;
    background-color: white;
    /* position: absolute; */
    top: 100%;
    left: 0;
}

.toolbar > button {
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}
.box2{
    background-color: white;
    margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
}
.que>input{
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    padding: 10px;
    border: none;
}
.box2>.que{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.que i{
    padding:10px;
    padding-right: 30px;
}
#quiztypes{
    border:10cm;
    width:30%;
}
.que{
    display: flex;
}
 .left{
    width:93%;
  }
   