.dashboard {
    margin-top: 70px;
    height: calc(100vh - 70px);
}
.dash {
    display: flex;
    width: 100%;
    height: 100%;
}
.dashL {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    color: white;
    height: 100%;
    flex-shrink: 0;
    padding-left: 10px;
    padding-right: 10px;

}
.dashL>h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashL>a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashL>button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashL>a:nth-child(7){
    margin-bottom: auto;
}

.dashR{
    display: flex;
    width: calc(100% - 300px);
    height: 100%;
    background-color: rgb(111, 129, 129);
}
