.footer{
    background-color: #b8ffcb;
    height: 300px;
}
.info{
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nameGyan{
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 25px;

}

.footerDetails{
    width: 33%;
    text-align: center;
    justify-content: center;

}


.footerDetails>div{

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
}
.footerDetails>div>a{
    transition: all .2s ease-in-out 0s;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.footerDetails>div>a:hover{
    font-size: 17px;
}

.vertical{
    width: 4px;
    height: 196px;
    background-image: linear-gradient(#3a3647, #A69CD0, #3a3647);
}

.footerSocial{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    line-height: normal;
}
.footerSocial>p{
    font-size: 17px;
    font-weight: 600;
}

.sociaMedia{
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sociaMedia>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.socialMediaSite{
    width: 35px;
    height: 35px;
    background-color: #0fff23;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0B0715;
    transition: all .2s ease-in-out 0s;
}
.sociaMedia>div>a>i{
    background-color: #0fff23;
    color: #0B0715;
}
.sociaMedia>div>a:hover{
    width: 39px;
    height: 39px;

}

.horizontal{
    width: 90%;
    height: 5px;
    background-image: linear-gradient(to right, #3a3647,#A69CD0,#3a3647);
    margin: auto;
}
.dev{
    width: fit-content;
    display: flex;
    /* align-items: center; */
    margin: auto;
}
/* .devName{
    text-decoration: none;
} */
.copyR{
    width: fit-content;
    display: flex;
    /* align-items: center; */
    margin: auto;
    margin-top: 20px;
    font-weight: 700;
}