.nav{
    height:70px;
    background-color: aliceblue;
    display: flex;
}
.navbarName{
    color:rgb(30, 6, 53);
    padding:10px 20px 10px 20px;
}
.logo{
    width: 15%;
    color:rgb(30, 6, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    width:38%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.options{
    display: block;
    position: relative;
    color:rgb(77, 7, 142);
    font-weight: 600;
    text-decoration: none;
 }
 
 .options:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #614385;
    transition: width 1s;
 }
 .options:hover:before{
    width: 100%;
 }
.btn{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;

}
         
.btn>button {
    background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%);
    margin:14px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 12px;
  }

  .btn>button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  