 /* CreateQuiz.css */

.form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .first {
    display: flex;
    align-items: center;
  }
  
  .first .heading {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #023E8A;
  }
  
  .last {
    display: flex;
    align-items: center;
  }
  
  .btnswitch {
    margin-left: 10px;
  }
  
  .btn3 {
    padding: 8px 16px;
    background-color: #023E8A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn3:hover {
    background-color: #0353A4;
  }
  
  .que {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .left {
    width: 75%;
  }
  
  .box1, .box2 {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .box2 .que > input {
    width: 100%;
  }
  
  .iner, .in {
    margin-bottom: 15px;
  }
  
  .toolbar {
    margin-top: 5px;
    display: flex;
  }
  
  .toolbar button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #023E8A ;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toolbar button:hover {
    background-color: #ddd;
  }
  
  .toolbar button b, .toolbar button i {
    font-size: 16px;
  }
  
  .answer-input input,
  .answer-input textarea,
  .option input[type="text"],
  .in input,
  .in textarea,
  .iner input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .answer-input input,
  .option input[type="text"],
  .iner input {
    height: 40px;
  }
  
  .answer-input textarea,
  .in textarea {
    height: 80px;
  }
  
  .multiple-choice .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .multiple-choice .option input[type="radio"],
  .multiple-choice .option input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .multiple-choice .option input[type="text"] {
    height: 40px; /* Increased height for better visibility */
  }
  
  .vl {
    display: flex;
    align-items: center;
    justify-content:left;
    cursor: pointer;
    padding: 10px;
  }
  
  .vl i {
    font-size: 24px;
    color: #023E8A;
  }
  
  .optionss {
    margin-top: 10px;
  }
  
  .optionss select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
  }
  
  .cqbtn {
    padding: 10px 20px;
    background-color: #023E8A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cqbtn:hover {
    background-color: #0353A4;
  }
  