.Types{
    height:570px;
    width:100%;
    background-color:rgb(218, 174, 240);
}
.Types>h1{ 
color:rgb(30, 6, 53);
margin: auto;
text-align: center;
font-size: 35px;
margin-top: 15px;
margin-bottom: 20px;
}
.btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
  text-align: center;

}
       
.btns>button {
  background-image: linear-gradient(to left, #614385 0%, #516395  51%, #614385  100%);
  margin:14px;
  padding: 13px 13px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 12px;
}

.btns-grad:hover {
  background-position: center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#imageContainer{
  width: min-content;
  margin: auto;
  margin-top: 25px;
}
#imageContainer>img{
  width: 600px;
}
